**Google Colab Imports**

In [ ]:
pip install spotipy --upgrade

Requirement already up-to-date: spotipy in /usr/local/lib/python3.7/dist-packages (2.18.0)
Requirement already satisfied, skipping upgrade: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied, skipping upgrade: requests>=2.25.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (2.25.1)
Requirement already satisfied, skipping upgrade: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.26.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount = True)
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import math
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import random

Mounted at /content/drive/

**Loading in data from https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks using pandas dataframe using the data csv**

In [ ]:
spotify_data = pd.read_csv('drive/MyDrive/Music Recommender System/data.csv')
spotify_data.head()

   acousticness                    artists  ...  year  main_artist
0      0.991000            ['Mamie Smith']  ...  1920          NaN
1      0.643000  ["Screamin' Jay Hawkins"]  ...  1920          NaN
2      0.993000            ['Mamie Smith']  ...  1920          NaN
3      0.000173        ['Oscar Velazquez']  ...  1920          NaN
4      0.295000                   ['Mixe']  ...  1920          NaN

[5 rows x 20 columns]

**Playing with the spotify_data df in order to change the format of the column artists**

In [ ]:
spotify_data_artist = spotify_data['artists']
spotify_data_artist.head()[0]

"['Mamie Smith']"

In [ ]:
s = spotify_data_artist[0]
s = list(s)
s = s[2:len(s) - 2]
s = "".join(s)
print(s)

Mamie Smith

In [ ]:
artist_name_format = []
for i in range(len(spotify_data_artist)):
  s = spotify_data_artist[i]
  s = list(s)
  s = s[2:len(s) -2]
  s = "".join(s)
  artist_name_format.append(s)

print(artist_name_format[:50])

['Mamie Smith', "Screamin' Jay Hawkins", 'Mamie Smith', 'Oscar Velazquez', 'Mixe', 'Mamie Smith & Her Jazz Hounds', 'Mamie Smith', 'Mamie Smith & Her Jazz Hounds', 'Francisco Canaro', 'Meetya', 'Dorville', 'Francisco Canaro', 'Ka Koula', 'Justrock', 'Takis Nikolaou', 'Aggeliki Karagianni', 'Giorgos Katsaros', 'Francisco Canaro', 'Giorgos Katsaros', 'Amalia Vaka', 'Ron van der Kraan', "Vasílis Besíris 'Tourkovasílis'", 'Tr0ma', 'Ron van der Kraan', 'Oscar Velazquez', 'Jodoli', 'Athanasía Alexandropoúlou', 'Dick Haymes', 'ST', 'Manolis Karapiperis', 'Félix Mayol', 'Meetya', 'Maurice Chevalier', 'David Daniells', "The Swingin' Bachelors", 'Ron van der Kraan', "The Swingin' Bachelors", 'Ron van der Kraan', 'Meetya', 'biex', "Mamie Smith', 'The Harlem Trio", 'Esther Lekain', 'Mamie Smith & Her Jazz Hounds', "Broke God', 'Pcxix", 'Two Charming Men', 'Tr0ma', "The Swingin' Bachelors", "The Swingin' Bachelors", "ST', '98', 'Niklas O", 'Aryiró Yiannopoúlou']

In [ ]:
spotify_data['formatted_artist'] = artist_name_format
spotify_data.head()

   acousticness                    artists  ...  main_artist       formatted_artist
0      0.991000            ['Mamie Smith']  ...          NaN            Mamie Smith
1      0.643000  ["Screamin' Jay Hawkins"]  ...          NaN  Screamin' Jay Hawkins
2      0.993000            ['Mamie Smith']  ...          NaN            Mamie Smith
3      0.000173        ['Oscar Velazquez']  ...          NaN        Oscar Velazquez
4      0.295000                   ['Mixe']  ...          NaN                   Mixe

[5 rows x 21 columns]

**Loading in data from https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks using pandas dataframe using the data_w_genres csv**

In [ ]:
spotify_genre_data = pd.read_csv("drive/MyDrive/Music Recommender System/data_w_genres.csv")
spotify_genre_data.head()

                                             artists  ...          genres
0                   "Cats" 1981 Original London Cast  ...  ['show tunes']
1                          "Cats" 1983 Broadway Cast  ...              []
2        "Fiddler On The Roof” Motion Picture Chorus  ...              []
3     "Fiddler On The Roof” Motion Picture Orchestra  ...              []
4  "Joseph And The Amazing Technicolor Dreamcoat"...  ...              []

[5 rows x 16 columns]

**Playing with spotify_genre_data df in order to format the genres column**

In [ ]:
spotify_genre = spotify_genre_data['genres']
spotify_genre.head()

0    ['show tunes']
1                []
2                []
3                []
4                []
Name: genres, dtype: object

In [ ]:
s = spotify_genre[8]
s = s.replace("'", '')
s = s.replace(" ", '')
s = list(s)
s = s[1:len(s) - 1]
s = "".join(s)
s = s.split(",")
print(s)
print(type(s))
print(s[0])
print(type(s[0]))

['comedyrock', 'comic', 'parody']
<class 'list'>
comedyrock
<class 'str'>

In [ ]:
artist_genre_format = []
for i in range(len(spotify_genre)):
  s = spotify_genre[i]
  s = s.replace("'", '')
  s = s.replace(" ", '')
  s = list(s)
  s = s[1:len(s) - 1]
  s = "".join(s)
  s = s.split(",")
  artist_genre_format.append(s)

print(artist_genre_format[:10])

[['showtunes'], [''], [''], [''], [''], [''], [''], [''], ['comedyrock', 'comic', 'parody'], ['']]

In [ ]:
spotify_genre_data['formatted_genre'] = artist_genre_format
spotify_genre_data.head()

                                             artists  ...  formatted_genre
0                   "Cats" 1981 Original London Cast  ...      [showtunes]
1                          "Cats" 1983 Broadway Cast  ...               []
2        "Fiddler On The Roof” Motion Picture Chorus  ...               []
3     "Fiddler On The Roof” Motion Picture Orchestra  ...               []
4  "Joseph And The Amazing Technicolor Dreamcoat"...  ...               []

[5 rows x 17 columns]

**Playing with both dfs to get all the songs with the artist "Cats" 1981 Original London Cast**

In [ ]:
spotify_genre_artists = spotify_genre_data['artists']
spotify_genre_artists.head()

0                     "Cats" 1981 Original London Cast
1                            "Cats" 1983 Broadway Cast
2          "Fiddler On The Roof” Motion Picture Chorus
3       "Fiddler On The Roof” Motion Picture Orchestra
4    "Joseph And The Amazing Technicolor Dreamcoat"...
Name: artists, dtype: object

In [ ]:
s = spotify_genre_artists[1]
cats = spotify_data[spotify_data['formatted_artist'].str.contains(s)]
cats.head(1)

       acousticness  ...                                   formatted_artist
31997         0.906  ...  Andrew Lloyd Webber', '"Cats" 1983 Broadway Ca...

[1 rows x 21 columns]

**Using the spotify API in order to get data from the user playlist we created**

In [ ]:
cid = 'e2a33ce0d8e94b5383609f0e5aee0ffb' 
secret = '59ae1a2b60054c94b24351e69fa74a90'

client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

playlist = sp.user_playlist('userPlaylist', '0qT5fFxIhEemCptwD1joGj') # playlist we created 

playlist_ids = [] # array that is going to hold all the track ids that are in our playlist
for item in playlist['tracks']['items']:
        track = item['track']
        playlist_ids.append(track['id'])
        
tracks = []
for i in range(len(playlist_ids)):
  curr = []

  track_info = sp.track(playlist_ids[i]) # returns a single track information about the track in a dictionary 
  track_audio_info = sp.audio_features(playlist_ids[i]) # returns a single track information about the audio in a dictionary 

  name = track_info ['name']
  artist = track_info ['album']['artists'][0]['name']
  release_date = track_info ['album']['release_date'][0:4]
  acousticness = track_audio_info[0]['acousticness']
  danceability = track_audio_info[0]['danceability']
  energy = track_audio_info[0]['energy']
  instrumentalness = track_audio_info[0]['instrumentalness']
  liveness = track_audio_info[0]['liveness']
  loudness = track_audio_info[0]['loudness']
  
  speechiness = track_audio_info[0]['speechiness']
  tempo = track_audio_info[0]['tempo']
  valence = track_audio_info[0]['valence']

  curr = [name, artist, release_date, acousticness, danceability, energy, instrumentalness, liveness, loudness, speechiness, tempo, valence]
  tracks.append(curr)

spotify_user_playlist = pd.DataFrame(tracks, columns = ['name', 'artist', 'release_date', 'acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence'])

In [ ]:
spotify_user_playlist.head()

                                       name         artist  ...    tempo  valence
0                               WITHOUT YOU  The Kid LAROI  ...   93.005    0.467
1                               TELL ME WHY  The Kid LAROI  ...  149.881    0.463
2                    All Girls Are The Same     Juice WRLD  ...  161.989    0.203
3  Bandit (with YoungBoy Never Broke Again)     Juice WRLD  ...  180.051    0.425
4                                 Righteous     Juice WRLD  ...  142.948    0.225

[5 rows x 12 columns]

**Playing with spotify_genre_data df and spotify_user_playlist df in order to add the genres of each artist to each song in spotify_user_playlist**

In [ ]:
spotify_playlist_artists = spotify_user_playlist['artist']
art = []
for artist in spotify_playlist_artists:
  if artist not in art:
    art.append(artist)
print(len(art))
spotify_playlist_artists.head()

25

0    The Kid LAROI
1    The Kid LAROI
2       Juice WRLD
3       Juice WRLD
4       Juice WRLD
Name: artist, dtype: object

In [ ]:
playlist_artist_genre = []
for i in range(len(spotify_playlist_artists)):
  for j in range(len(spotify_genre_data.artists)):
    if(spotify_genre_data.artists.iloc[j] == spotify_playlist_artists[i]):
      playlist_artist_genre.append(spotify_genre_data.formatted_genre.iloc[j])

In [ ]:
print(playlist_artist_genre)
len(playlist_artist_genre)

[['australianhiphop'], ['australianhiphop'], ['chicagorap', 'melodicrap'], ['chicagorap', 'melodicrap'], ['chicagorap', 'melodicrap'], ['chicagorap', 'melodicrap'], ['chicagodrill', 'chicagorap', 'drill', 'rap', 'southernhiphop', 'trap'], ['chicagorap', 'melodicrap'], ['canadiancontemporaryr&b', 'canadianpop', 'pop'], ['canadiancontemporaryr&b', 'canadianpop', 'pop'], ['australianhiphop'], ['canadiancontemporaryr&b', 'canadianpop', 'pop'], ['canadiancontemporaryr&b', 'canadianpop', 'pop'], ['canadiancontemporaryr&b', 'canadianpop', 'pop'], ['dancepop', 'pop', 'poprap', 'post-teenpop', 'urbancontemporary'], ['atlhiphop', 'dancepop', 'dirtysouthrap', 'gangsterrap', 'hiphop', 'poprap', 'rap', 'southernhiphop', 'trap'], ['dancepop', 'pop', 'popdance', 'poprap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['latin', 'reggaeton', 'traplatino'], ['melodicrap', 'poprap', 'rap', 'trap'], ['canadianhiphop', 'canadianpop', 'hiphop', 'poprap', 'rap', 'torontorap'], ['poprap', 'rap', 'trap'], ['canadianpop', 'pop', 'post-teenpop'], ['brooklyndrill', 'melodicrap', 'nycrap'], ['rap'], ['brooklyndrill'], ['rap', 'trap'], ['brooklyndrill'], ['chicagorap'], ['melodicrap', 'rap', 'trap'], ['brooklyndrill', 'melodicrap', 'nycrap'], ['melodicrap', 'phillyrap', 'rap', 'trap'], ['atlhiphop', 'poprap', 'rap', 'southernhiphop', 'trap'], ['brooklyndrill'], ['melodicrap'], ['northcarolinahiphop', 'rap'], ['calirap', 'hiphop', 'poprap', 'rap', 'southernhiphop', 'trap'], ['rap', 'trap'], ['dancepop', 'pop', 'poprap', 'r&b', 'rap'], ['melodicrap', 'phillyrap', 'rap', 'trap'], ['melodicrap', 'phillyrap', 'rap', 'trap'], ['brooklyndrill'], ['rap'], ['brooklyndrill', 'melodicrap', 'nycrap'], ['dancepop', 'pop', 'poprap', 'r&b', 'rap'], ['melodicrap', 'rap', 'trap']]

50

In [ ]:
spotify_user_playlist['formatted_genre'] = playlist_artist_genre
spotify_user_playlist.head(5)

                                       name  ...           formatted_genre
0                               WITHOUT YOU  ...        [australianhiphop]
1                               TELL ME WHY  ...        [australianhiphop]
2                    All Girls Are The Same  ...  [chicagorap, melodicrap]
3  Bandit (with YoungBoy Never Broke Again)  ...  [chicagorap, melodicrap]
4                                 Righteous  ...  [chicagorap, melodicrap]

[5 rows x 13 columns]



```
# This is formatted as code
```

**Reformatting the artist column in our spotify_user_playlist into a list to use TFIDF**

In [ ]:
name_list = []

for i in range(len(spotify_user_playlist["artist"])):
  new_array = []
  name = spotify_user_playlist["artist"][i]
  new_array.append(name.replace(" ", ''))
  name_list.append(new_array)
print(name_list)
spotify_user_playlist["artist_list"] = name_list
spotify_user_playlist.head()

[['TheKidLAROI'], ['TheKidLAROI'], ['JuiceWRLD'], ['JuiceWRLD'], ['JuiceWRLD'], ['JuiceWRLD'], ['GHerbo'], ['JuiceWRLD'], ['TheWeeknd'], ['TheWeeknd'], ['TheKidLAROI'], ['TheWeeknd'], ['TheWeeknd'], ['TheWeeknd'], ['JaySean'], ['T.I.'], ['BlackEyedPeas'], ['Drake'], ['Drake'], ['Drake'], ['Drake'], ['Drake'], ['BadBunny'], ['SwaeLee'], ['Drake'], ['InternetMoney'], ['JustinBieber'], ['LilTjay'], ['TravisScott'], ['PopSmoke'], ['DonToliver'], ['PopSmoke'], ['PoloG'], ['RoddyRicch'], ['LilTjay'], ['LilUziVert'], ['Future'], ['PopSmoke'], ['StaySolidRocky'], ['DaBaby'], ['Mustard'], ['DonToliver'], ['ChrisBrown'], ['LilUziVert'], ['LilUziVert'], ['PopSmoke'], ['TravisScott'], ['LilTjay'], ['ChrisBrown'], ['LilTecca']]

                                       name  ...    artist_list
0                               WITHOUT YOU  ...  [TheKidLAROI]
1                               TELL ME WHY  ...  [TheKidLAROI]
2                    All Girls Are The Same  ...    [JuiceWRLD]
3  Bandit (with YoungBoy Never Broke Again)  ...    [JuiceWRLD]
4                                 Righteous  ...    [JuiceWRLD]

[5 rows x 14 columns]

**Refortmating the release_date column in our spotify_user_playlist into a list to use TFIDF**

In [ ]:
date_list = []
for i in range(len(spotify_user_playlist["release_date"])):
  new_array = []
  name = spotify_user_playlist["release_date"][i]
  new_array.append(name.replace(" ", ''))
  date_list.append(new_array)
print(name_list)
spotify_user_playlist["date_list"] = date_list
spotify_user_playlist.head()

[['TheKidLAROI'], ['TheKidLAROI'], ['JuiceWRLD'], ['JuiceWRLD'], ['JuiceWRLD'], ['JuiceWRLD'], ['GHerbo'], ['JuiceWRLD'], ['TheWeeknd'], ['TheWeeknd'], ['TheKidLAROI'], ['TheWeeknd'], ['TheWeeknd'], ['TheWeeknd'], ['JaySean'], ['T.I.'], ['BlackEyedPeas'], ['Drake'], ['Drake'], ['Drake'], ['Drake'], ['Drake'], ['BadBunny'], ['SwaeLee'], ['Drake'], ['InternetMoney'], ['JustinBieber'], ['LilTjay'], ['TravisScott'], ['PopSmoke'], ['DonToliver'], ['PopSmoke'], ['PoloG'], ['RoddyRicch'], ['LilTjay'], ['LilUziVert'], ['Future'], ['PopSmoke'], ['StaySolidRocky'], ['DaBaby'], ['Mustard'], ['DonToliver'], ['ChrisBrown'], ['LilUziVert'], ['LilUziVert'], ['PopSmoke'], ['TravisScott'], ['LilTjay'], ['ChrisBrown'], ['LilTecca']]

                                       name  ... date_list
0                               WITHOUT YOU  ...    [2020]
1                               TELL ME WHY  ...    [2020]
2                    All Girls Are The Same  ...    [2018]
3  Bandit (with YoungBoy Never Broke Again)  ...    [2019]
4                                 Righteous  ...    [2020]

[5 rows x 15 columns]

**TF-IDF**

1.   looking at using genre and artist name
2.   Item profiles = acousticness, danceability, instrumentalness, liveness, loudness, popularity,tempo, year

**TFIDF Values for The genre in our spotify_user_playlist**

---

In [ ]:
genrew = TfidfVectorizer(lowercase = False)
genrey = genrew.fit_transform(spotify_user_playlist["formatted_genre"].apply(lambda x: " ".join(x)))
genre_df = pd.DataFrame(genrey.toarray())
genre_df.head()
genre_df.columns = [i for i in genrew.get_feature_names()]

name = []
for col in genre_df.columns:
    name.append(col)

sums = genre_df.sum()
genreArr = [sum for sum in sums]

tupleData = list(zip(name, sums)) 

genre_tfidf = pd.DataFrame(tupleData, columns=["genre", "value"])
genre_tfidf = genre_tfidf.sort_values(by ='value', ascending = False, ignore_index = True)
genre_tfidf.head()

           genre     value
0            rap  9.704539
1     melodicrap  8.309059
2           trap  6.655679
3  brooklyndrill  5.698932
4         poprap  5.577448

**TFIDF Values for The artists in our spotify_user_playlist**

In [ ]:
artistw = TfidfVectorizer(lowercase=False)
artisty = artistw.fit_transform(spotify_user_playlist["artist_list"].apply(lambda x: " ".join(x)))
artist_df = pd.DataFrame(artisty.toarray())
#print(artist_df)
artist_df.columns = [i for i in artistw.get_feature_names()]

artist = []
for col in artist_df.columns:
  artist.append(col)

sums = artist_df.sum()
artistArr = [sum for sum in sums ]

factor = [sum/len(spotify_user_playlist) for sum in sums]

tupleData = list(zip(artist, artistArr)) 

artist_tfidf = pd.DataFrame(tupleData, columns=["artist", "value"])
artist_tfidf["factor"] = factor

artist_tfidf = artist_tfidf.sort_values(by ='factor', ascending = False, ignore_index = True)

artist_tfidf.head(5)

        artist  value  factor
0        Drake    6.0    0.12
1    TheWeeknd    5.0    0.10
2    JuiceWRLD    5.0    0.10
3     PopSmoke    4.0    0.08
4  TheKidLAROI    3.0    0.06

**Getting a weighted Average Vector based on all the chosen song features in the user_spotify_playlist**

In [ ]:
# Weighted Average of Songs in Playlist

weighted_avg = []
acousticness = 0.0
danceability = 0.0
energy = 0.0
instrumentalness = 0.0
liveness = 0.0
loudness = 0.0
speechiness = 0.0
tempo = 0.0
valence = 0.0
for i in range(len(spotify_user_playlist)):
  acousticness += spotify_user_playlist['acousticness'][i]
  danceability += spotify_user_playlist['danceability'][i]
  energy += spotify_user_playlist['energy'][i]
  instrumentalness += spotify_user_playlist['instrumentalness'][i]
  liveness += spotify_user_playlist['liveness'][i]
  loudness += spotify_user_playlist['loudness'][i]
  speechiness += spotify_user_playlist['speechiness'][i]
  tempo += spotify_user_playlist['tempo'][i]
  valence += spotify_user_playlist['valence'][i]

acousticness /= len(spotify_user_playlist)
danceability /= len(spotify_user_playlist)
energy /= len(spotify_user_playlist)
instrumentalness /= len(spotify_user_playlist)
liveness /= len(spotify_user_playlist)
loudness /= len(spotify_user_playlist)
speechiness /= len(spotify_user_playlist)
tempo /= len(spotify_user_playlist)
valence /= len(spotify_user_playlist)

weighted_avg.append([acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence])
print(weighted_avg)

[[0.2074802, 0.7066999999999999, 0.59894, 0.0088669678, 0.20052199999999998, -6.78484, 0.14547799999999997, 121.02301999999997, 0.4250900000000001]]

**Get two lists (top genres and artists in playlist) based on the TFIDF Scores calcuated**

In [ ]:
#This code is to get the lists based on the tfid
genre_to_look_for = []
for i in range(len(genre_tfidf.value)):
  if(genre_tfidf.value[i] >= 5.2):
    genre_to_look_for.append(genre_tfidf.genre[i])
print(genre_to_look_for)

artists_to_look_for = []
for i in range(len(artist_tfidf.factor)):
  if(artist_tfidf.factor[i] >= 0.05):
    artists_to_look_for.append(artist_tfidf.artist[i])
print(artists_to_look_for)

['rap', 'melodicrap', 'trap', 'brooklyndrill', 'poprap', 'chicagorap']
['Drake', 'TheWeeknd', 'JuiceWRLD', 'PopSmoke', 'TheKidLAROI', 'LilTjay', 'LilUziVert']

**Get all the artists that match the genres found in genre_to_look_for in spotify_genre_data df**

In [ ]:
#This code is to get all the songs that fit the genre list above
all_artist_fits2 = []
for i in range(len(spotify_genre_data.formatted_genre)):
  for j in range(len(spotify_genre_data.formatted_genre[i])):
    if(spotify_genre_data.artists[i] not in all_artist_fits2):
      if(spotify_genre_data.formatted_genre[i][j] in genre_to_look_for):
        all_artist_fits2.append(spotify_genre_data.artists[i])

all_songs2 = spotify_data[spotify_data["formatted_artist"] == all_artist_fits2[0]]
                         
for i in range(1, len(all_artist_fits2)):
  try:
    all_songs2 = all_songs2.append(spotify_data[spotify_data["formatted_artist"] == all_artist_fits2[i]], ignore_index=True)
  except KeyError: 
    pass

all_songs2 = all_songs2[(all_songs2['release_date'] >= "2020-01-01") & (all_songs2['release_date'] <= "2020-12-31")]
all_songs2 = all_songs2.reset_index()
all_songs2.head()

   index  acousticness  ... main_artist        formatted_artist
0     15        0.0679  ...         NaN                2 Chainz
1    207        0.4730  ...         NaN  A Boogie Wit da Hoodie
2    312        0.2520  ...         NaN                Ace Hood
3    384        0.1980  ...         NaN               Baby Keem
4    523        0.0200  ...         NaN                Big Sean

[5 rows x 22 columns]

**Create a matrix of all the songs from all_songs2 df where each row contains the song features**

In [ ]:
s2_labels = []
for i in range(all_songs2.shape[0]):
  current = []
  for column in all_songs2:
    if (column == "acousticness" or column == "danceability" or column == "energy" or column == "instrumentalness" or column == "liveness" or column == "loudness" or column == "speechiness" or column == "tempo" or column == "valence" ):
      current.append(all_songs2[column][i])
  s2_labels.append(current)
print(len(s2_labels))

206

**Recommend 10 songs using the weighted_avg vector and the matrix s2_labels by using cosine_similarit (Recommendation by genre)y**

In [ ]:
recommendations2 = []
temp = cosine_similarity(weighted_avg, s2_labels)
r2df = pd.DataFrame(temp).T # transpose row and comlums swap
top10 = r2df.nlargest(r2df.shape[0],0).index # index of top 10 closeest to songs in playlist
for index in top10:
  recommendations2.append("'" + all_songs2['name'][index] + "'" + " by " + all_songs2['artists'][index][2:-2])

chosenR2 = []
print("You should listen to: ")
i = 1
while len(chosenR2) < 10:
  ind = random.randint(0, r2df.shape[0])
  try:
    if recommendations2[ind] not in chosenR2:
      chosenR2.append(recommendations2[ind])
      print(i,": " + recommendations2[ind])
      i += 1
  except IndexError:
    pass

You should listen to:
1 : 'Good News' by Mac Miller
2 : 'bloody valentine' by Machine Gun Kelly
3 : 'Said Sum' by Moneybagg Yo
4 : 'HOLIDAY' by Lil Nas X
5 : 'Take You Dancing' by Jason Derulo
6 : 'Whole Lotta Choppas' by Sada Baby
7 : 'Meh' by Playboi Carti
8 : 'Tyler Herro' by Jack Harlow
9 : 'BEST INTEREST' by Tyler, The Creator
10 : 'Baby Pluto' by Lil Uzi Vert

**Fromatting spotify_data df in order to compare each artist to the artists_to_look_for list**

In [ ]:
joinedArtists = []
for i in range(len(spotify_data.formatted_artist)):
  name = spotify_data.formatted_artist[i]
  name = name.replace(" ", "")
  joinedArtists.append(name)
spotify_data["joined_artist"] = joinedArtists
spotify_data.head()

   acousticness  ...        joined_artist
0      0.991000  ...           MamieSmith
1      0.643000  ...  Screamin'JayHawkins
2      0.993000  ...           MamieSmith
3      0.000173  ...       OscarVelazquez
4      0.295000  ...                 Mixe

[5 rows x 22 columns]

**Get all the songs that match the artist found in the spotify_data df into a new df called all_songs3**

In [ ]:
all_songs3 = spotify_data[spotify_data["joined_artist"] == artists_to_look_for[0]]
all_songs3.head()                
for i in range(1, len(artists_to_look_for)):
  try:
    all_songs3 = all_songs3.append(spotify_data[spotify_data["joined_artist"] == artists_to_look_for[i]], ignore_index=True)
  except KeyError: 
    pass

all_songs3 = all_songs3[(all_songs3['release_date'] >= "2016-01-01")]
all_songs3 = all_songs3.reset_index()
all_songs3.head()

   index  acousticness    artists  ...  main_artist  formatted_artist  joined_artist
0      7       0.00258  ['Drake']  ...          NaN             Drake          Drake
1      8       0.25600  ['Drake']  ...          NaN             Drake          Drake
2      9       0.11100  ['Drake']  ...          NaN             Drake          Drake
3     10       0.03320  ['Drake']  ...          NaN             Drake          Drake
4     11       0.01650  ['Drake']  ...          NaN             Drake          Drake

[5 rows x 23 columns]

**Create a matrix of all the songs from all_songs3 df where each row contains the song features**

In [ ]:
s3_labels = []
for i in range(all_songs3.shape[0]):
  current = []
  for column in all_songs3:
    if (column == "acousticness" or column == "danceability" or column == "energy" 
        or column == "instrumentalness" or column == "liveness" or column == "loudness" 
        or column == "speechiness" or column == "tempo" or column == "valence" ):
      current.append(all_songs3[column][i])
  s3_labels.append(current)
print(len(s3_labels))

163

**Recommends 10 songs based on only the artists found in the spotify_user_playlist df**

In [ ]:
recommendations3 = []

temp = cosine_similarity(weighted_avg, s3_labels)
r3df = pd.DataFrame(temp).T # transpose row and comlums swap
top10 = r3df.nlargest(r3df.shape[0] ,0).index # index of top 10 closeest to songs in playlist
for index in top10:
  recommendations3.append("'" + all_songs3['name'][index] + "'" + " by " + all_songs3['artists'][index][2:-2])

chosenR3 = []
print("You should listen to: ")
i = 1
while len(chosenR3) < 10:
  ind = random.randint(0, r3df.shape[0])
  try:
    if recommendations3[ind] not in chosenR3:
      chosenR3.append(recommendations3[ind])
      print(i, ": " + recommendations3[ind])
      i += 1
  except IndexError:
    pass

You should listen to:
1 : '20/20' by Lil Tjay
2 : 'WITHOUT YOU' by The Kid LAROI
3 : 'Dior' by Pop Smoke
4 : 'Attention' by The Weeknd
5 : 'Empty' by Juice WRLD
6 : 'In My Feelings' by Drake
7 : 'Secrets' by The Weeknd
8 : 'Used To' by Juice WRLD
9 : 'Maze' by Juice WRLD
10 : 'Man Of The Year' by Juice WRLD